* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu {
    
    width: 100vw;
    border: solid 1px black;
}

ul {
    position: relative;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu-item-pic {
    align-self: flex-end;
}

a {
    text-decoration: none;
    color: black;
}





