body {
    display: flex;
    justify-content: center;
}

.mainContainer {
    border: solid 4px black;
    width: 400px;
    height: 600px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.div {
    border: solid 2px rgb(76, 83, 83);
    background-color: rgb(231, 96, 96);
    margin: 8px;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}


.div:nth-child(2) {
    background-color: rgb(129, 231, 129);
    height: 60px;
    align-self: flex-end;
}

.div:nth-child(3) {
    background-color: rgb(245, 147, 245);
    height: 30px;
}

.div:nth-child(4) {
    background-color: rgb(236, 236, 136);
    
}

.div:nth-child(5) {
    background-color: rgb(252, 165, 85);
    align-self: flex-end;
}

.div:last-child {
    background-color: rgb(117, 117, 230);
}

/*
justify-content: flex-end/start, center, space-between/around;
align-content: flex-end/start, center, space-between/around;
align-items/self: felx-start/end, center, baseline, stretch;
flex-direction: row, column, row/column-reverse;
flex-wrap: nowrap, wrap, wrap-reverse;
flex direction+wrap = flex-flow;
*/